@import "../node_modules/@picocss/pico/css/pico.css";

:root {
  --primary: #0047A0 !important;
  --primary-hover: #235A9F !important;
  --secondary: #CD2E3A !important;
  --secondary-hover: #C54F58 !important;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}
